@model List<OtanerBank.Models.Client>

@{
    ViewData["Title"] = "Clients";
}

<br />

<table class="table">
    <thead>
        <tr>
            @{
                Client client = new Client();

                <th>
                    @Html.LabelFor(x => client.id)
                </th>
                <th>
                    @Html.LabelFor(x => client.conta)
                </th>
                <th>
                    @Html.LabelFor(x => client.CPF)
                </th>
                <th>
                    @Html.LabelFor(x => client.nome)
                </th>
                <th>
                    @Html.LabelFor(x => client.saldo)
                </th>
                <th>
                    @Html.Label("OPTIONS")
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.conta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CPF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.saldo)
                </td>
                <td>
                    | @Html.ActionLink("Edit", "Edit", new { CPF = item.CPF }) |
                    @Html.ActionLink("Details", "Details", new { CPF = item.CPF }) |
                </td>
            </tr>
        }
    </tbody>
</table>