@model List<OtanerBank.Models.Client>

@{
    ViewData["Title"] = "Clients";
}

<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.Label("ID")
            </th>
            <th>
                @Html.Label("CONTA")
            </th>
            <th>
                @Html.Label("CPF")
            </th>
            <th>
                @Html.Label("NOME")
            </th>
            <th>
                @Html.Label("SALDO")
            </th>
            <th>
                @Html.Label("SALDO")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.conta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saldo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>
