@model IEnumerable<OtanerBank.Models.Client>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.conta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CPF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.saldo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ultimoAcesso)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.rendaGerada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeGerenteResponsavel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emailGerenteResponsavel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.conta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.saldo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ultimoAcesso)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rendaGerada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeGerenteResponsavel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emailGerenteResponsavel)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
