<!DOCTYPE html>

<style>
    .Profile {
        cursor: pointer;
    }

    #divContent {
        margin: 20px;
        width: 500px;
    }

    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }

    .dropdown {
    }

    .dropdown-content {
        margin-top: 75%;
        margin-left: -25%;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }

    #parent {
        margin-left: 10px;
        margin-right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    #imgAdmin {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 0;
        border-radius: 50%;
    }

    #imgChange {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 0;
        border-radius: 50%;
        background-image: url(https://drive.google.com/uc?id=1LSDqJ8urNSKWs_3dezLogpb9VBngbKFo);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: dimgray;
        opacity: 0;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
    }

        #imgChange:hover {
            cursor: pointer;
            opacity: 0.2;
        }

            #imgChange:hover > #imgAdmin {
                cursor: pointer;
                opacity: 0.5;
            }
</style>

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body>

    <!-- Modal -->
    <div class="modal fade" id="ImageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Choose your new Image:</h5>
                </div>
                <form id="FormUpdateImage">
                    <div class="modal-body">

                        <input class="form-control" id="ImageUrl" type="url" placeholder="Image path (for safety)" required />
                        <br /><br />
                        <div class="form-control" style="height:55vh;">
                            <img id="blah" style="height:53vh; width:100%; border:0; border-radius: 5%;" />
                        </div>
                        <input class="form-control" id="imgPreview" type="file" value="Preview Image" />

                    </div>
                    <div class="modal-footer">
                        <button id="btnCancel" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input id="btnSave" type="submit" class="btn btn-primary" value="Save Image" />
                    </div>
                </form>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-inverse navbar-fixed-top">

        @if (ViewData["CurrentAdminName"] != null)
        {
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <div id="parent" class="col-md-2">
                        <div id="imgAdmin"></div>
                        <div id="imgChange" data-toggle="modal" data-target="#ImageModal"></div>
                    </div>


                    <a id="btnProfile" class="navbar-brand Profile">@ViewData["CurrentAdminName"]</a>
                    <form onsubmit="alert('All info sent !')">
                        <div class="dropdown">
                            <div id="myDropdown" class="dropdown-content">
                                <div id="divContent">

                                    <div>
                                        <div class="row">

                                            <div class="col-md-11">
                                                <h4>@ViewData["CurrentAdminName"]</h4><br />
                                            </div>
                                            <div class="col-md-1">
                                                <button onclick="HideDropDown();" type="button" class="close">
                                                    ×
                                                </button>
                                            </div>

                                            <div class="col-md-9">
                                                <label class="control-label">CPF</label>
                                                <input id="CPF" readonly class="form-control" autocomplete="off" required value="@ViewData["CurrentAdminCPF"]" />
                                                <span class="text-danger"></span>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-9">
                                                <label class="control-label">Name</label>
                                                <input id="NAME" class="form-control" autocomplete="off" required value="@ViewData["CurrentAdminName"]" />
                                                <span class="text-danger"></span>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-9">
                                                <label class="control-label">Email</label>
                                                <input id="EMAIL" class="form-control" autocomplete="off" required value="@ViewData["CurrentAdminEmail"]" />
                                                <span class="text-danger"></span>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                        <br />
                                        <div class="row">
                                            <div class="col-md-9">
                                                <label class="control-label">Password</label>
                                                <input id="PASSWORD" class="form-control" autocomplete="off" required value="@ViewData["CurrentAdminPassword"]" />
                                                <span class="text-danger"></span>
                                            </div>
                                            <div class="col-md-3">
                                                <br />
                                                <br /><br />
                                                <br />
                                                <input type="submit" class="form-control" onclick="UpdateAdmin()" value="Save" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Admin" asp-action="Index">Dashboard</a></li>
                        <li><a asp-area="" asp-controller="Admin" asp-action="Register">Register Client</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a asp-area="" asp-controller="Admin" asp-action="Logout">Log out</a>
                        </li>
                    </ul>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                        @if (ViewData["Title"].ToString() == "Otaner's Bank - Log in")
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Signin">Sign in</a></li>
                        }
                        else
                        {
                            <li><a asp-area="" asp-controller="Home" asp-action="Index">Log in</a></li>
                        }

                    </ul>

                </div>
            </div>

        }
    </nav>


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        @{

            if (ViewData["Title"].ToString() == "Edit")
            {
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <p>&copy; 2020 - Otaner's Bank</p>
                    </div>
                </div>
            }

            else if (ViewData["Title"].ToString() == "Client Details" || ViewData["Title"].ToString() == "Otaner's Bank - Log in" || ViewData["Title"].ToString() == "Otaner's Bank - Sign in")
            {

            }

            else
            {
                <hr />
                <footer>
                    <p>&copy; 2020 - Otaner's Bank</p>
                </footer>
            }

        }
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

<script type="text/javascript">

    var inputImg = document.getElementById('path');

    $(document).ready(function () {

        LoadImage();

        $("#btnProfile").click(function () {

            $(function () {

                document.getElementById("myDropdown").classList.toggle("show");

            });

        })

        $("#btnDimissAdminInfoModal").click(function () {
            $("#AdminInfoModal").modal('hide');
        });

        $("#imgPreview").change(function () {
            ReadImage(this);
        });

        $("#FormUpdateImage").submit(function () {

            $('#btnCancel').attr("disabled", true);
            $('#btnSave').attr("disabled", true);
            $('#ImageUrl').attr("disabled", true);
            $('#blah').attr("disabled", true);
            $('#imgPreview').attr("disabled", true);

            $.ajax({
                type: "POST",
                url: 'https://localhost:44329/Admins/UploadImage?path=' + document.getElementById('ImageUrl').value + "&CPF=" + document.getElementById('CPF').value,
                dataType: "text",
                success: (function (msg) {
                    alert(msg);
                    LoadImage();
                    $('#ImageModal').modal('hide');
                    $('#btnCancel').attr("disabled", false);
                    $('#btnSave').attr("disabled", false);
                    $('#ImageUrl').attr("disabled", false);
                    $('#imgPreview').attr("disabled", false);
                    $('#imgPreview').attr("disabled", false);
                    document.getElementById('ImageUrl').value = "";
                    $('#blah').attr('src', '');
                    document.getElementById("imgPreview").value = "";
                }),
                error: (function (msg) {
                    alert(msg);
                })
            });

            return false;
        });

    });

    function ReadImage(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]); // convert to base64 string
        }
    }

    function UpdateAdmin() {

        var CPF = document.getElementById('CPF').value;
        var NAME = document.getElementById('NAME').value;
        var EMAIL = document.getElementById('EMAIL').value;
        var PASSWORD = document.getElementById('PASSWORD').value;


        $.ajax({
            type: "POST",
            url: 'https://localhost:44397/Admin/Profile',
            dataType: "json",
            data: {
                "cpf": "" + CPF + "",
                "name": "" + NAME + "",
                "email": "" + EMAIL + "",
                "password": "" + PASSWORD + ""
            },
            success: (function (msg) {
                if (msg == true) {
                    // alert('Data sucessfuly updated');
                }
            }),
            error: (function () {
                alert('An error occurred, please try again later');
            })
        });



    }

    function HideDropDown() {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
        //Location.reload();
    }

    function LoadImage() {

        // document.getElementById('imgAdmin').style.backgroundImage = "none";

        $.ajax({
            type: "GET",
            url: 'https://localhost:44397/Admin/LoadImage',
            dataType: "text",
            success: (function (msg) {
                document.getElementById('imgAdmin').style.backgroundImage = "url(" + msg + ")";
                document.getElementById('imgAdmin').style.backgroundSize = "100% 100%";
                document.getElementById('imgAdmin').style.backgroundRepeat = "no-repeat";
            }),
            error: (function (msg) {
                document.getElementById('imgAdmin').style.backgroundImage = "url(" + 'https://drive.google.com/uc?id=1fS3x3WZiGzbND6lni6figmE6NaKqMydi' + ")";
                document.getElementById('imgAdmin').style.backgroundSize = "100% 100%";
                document.getElementById('imgAdmin').style.backgroundRepeat = "no-repeat";
            })
        });

    }

</script>
