<!DOCTYPE html>

<style>
    .Profile {
        cursor: pointer;
    }

    #divContent {
        margin: 20px;
        width: 500px;
    }

    .dropbtn {
        background-color: #3498DB;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
        cursor: pointer;
    }

        .dropbtn:hover, .dropbtn:focus {
            background-color: #2980B9;
        }

    .dropdown {
    }

    .dropdown-content {
        margin-left: -400px;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

    .dropdown a:hover {
        background-color: #ddd;
    }

    .show {
        display: block;
    }
</style>

<html>



<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">

        @if (ViewData["CurrentAdminName"] != null)
        {
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Admin" asp-action="Index" class="navbar-brand">Otaner's Bank - Admin</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Admin" asp-action="Register">Register Client</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form onsubmit="alert('All info sent !')">
                                <div class="dropdown">
                                    <a id="btnProfile" class="navbar-brand Profile">@ViewData["CurrentAdminName"]</a>
                                    <div id="myDropdown" class="dropdown-content">
                                        <div id="divContent">

                                            <div>
                                                <div class="row">

                                                    <div class="col-md-11">
                                                        <h4>Admin - @ViewData["CurrentAdminName"]</h4><br /><br />
                                                    </div>
                                                    <div class="col-md-1">
                                                        <button onclick="HideDropDown();" type="button" class="close">
                                                            ×
                                                        </button>
                                                    </div>

                                                    <div class="col-md-9">
                                                        <label class="control-label">CPF</label>
                                                        <input id="CPF" readonly class="form-control" autocomplete="off" value="@ViewData["CurrentAdminCPF"]" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-3"></div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label class="control-label">Name</label>
                                                        <input id="NAME" class="form-control" autocomplete="off" value="@ViewData["CurrentAdminName"]" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-3"></div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label class="control-label">Email</label>
                                                        <input id="EMAIL" class="form-control" autocomplete="off" value="@ViewData["CurrentAdminEmail"]" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-3"></div>
                                                </div>
                                                <br />
                                                <div class="row">
                                                    <div class="col-md-9">
                                                        <label class="control-label">Password</label>
                                                        <input id="PASSWORD" class="form-control" autocomplete="off" value="@ViewData["CurrentAdminPassword"]" />
                                                        <span class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-3"></div>
                                                </div>

                                            </div>
                                            <div class="row">
                                                <hr />
                                                <div class="col-md-1">

                                                </div>
                                                <div class="col-md-7">
                                                    <button class="form-control" onclick="UpdateAdmin()">Save</button>
                                                </div>
                                                <div class="col-md-1"></div>
                                                <div class="col-md-3">
                                                    <button class="form-control" asp-controller="Admin" asp-action="Logout">Logout</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        }
        else
        {
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Otaner's Bank - Home Page</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a asp-area="" asp-controller="Home" asp-action="Login">Log in</a></li>
                    </ul>

                </div>
            </div>

        }
    </nav>


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        @{

            if (ViewData["Title"].ToString() != "Edit")
            {
                <div class="row">
                    <div class="col-md-12">
                        <hr />
                        <p>&copy; 2020 - Otaner's Bank</p>
                    </div>
                </div>
            }

            else if (ViewData["Title"].ToString() != "Profile")
            {
                <div class="col-md-12">
                    <hr />
                    <p>&copy; 2020 - Otaner's Bank</p>
                </div>
            }

            else if (ViewData["Title"].ToString() != "Details")
            {

            }

            else
            {
                <hr />
                <footer>
                    <p>&copy; 2020 - Otaner's Bank</p>
                </footer>
            }

        }
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>

<script type="text/javascript">

    function UpdateAdmin() {

        var CPF = document.getElementById('CPF').value;
        var NAME = document.getElementById('NAME').value;
        var EMAIL = document.getElementById('EMAIL').value;
        var PASSWORD = document.getElementById('PASSWORD').value;


        $.ajax({
            type: "POST",
            url: 'https://localhost:44397/Admin/Profile',
            dataType: "json",
            data: {
                "cpf": "" + CPF + "",
                "name": "" + NAME + "",
                "email": "" + EMAIL + "",
                "password": "" + PASSWORD + ""
            },
            success: (function (msg) {
                if (msg == true) {
                    // alert('Data sucessfuly updated');
                }
            }),
            error: (function () {
                alert('An error occurred, please try again later');
            })
        });



    }

    $(document).ready(function () {

        /*var timeToEnd = 0;

        var timer = setInterval(function () {
            timeToEnd++;

            console.log('' + timeToEnd);

            if (timeToEnd == 5) {
                clearInterval(timer);
            }
        }, 1000);*/

        $("#btnProfile").click(function () {

            $(function () {

                document.getElementById("myDropdown").classList.toggle("show");

            });

        })

        $("#btnDimissAdminInfoModal").click(function () {
            $("#AdminInfoModal").modal('hide');
        });


    });


    function HideDropDown() {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
            var openDropdown = dropdowns[i];
            if (openDropdown.classList.contains('show')) {
                openDropdown.classList.remove('show');
            }
        }
        Location.reload();
    }

</script>
