@model OtanerBank.Models.Client

@{
    ViewData["Title"] = "Client Details";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>

<style>

    .a {
    }

    .button {
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
    }

    .button2 {
        border-radius: 12px;
    }
</style>

<div>

    <fieldset>

        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="modal fade" tabindex="-1" id="DetailsModal"
                         data-keyboard="false" data-backdrop="static">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button id="btnDimiss" type="button" class="close">
                                        &times;
                                    </button>
                                    <h4>@Model.NAME</h4>
                                </div>
                                <div class="modal-body">
                                    <form>

                                        <div>
                                            <dl class="dl-horizontal">
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.ACCOUNT)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.ACCOUNT)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.CPF)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.CPF)
                                                </dd>
                                                <dt>
                                                    @Html.DisplayNameFor(model => model.BALANCE)
                                                </dt>
                                                <dd>
                                                    @Html.DisplayFor(model => model.BALANCE)
                                                </dd>

                                                @{
                                                    if (Model.ACCOUNT.EndsWith("-2"))
                                                    {
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.LAST_ACCESS)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => model.LAST_ACCESS)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.BALANCE_EARNED)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => model.BALANCE_EARNED)
                                                        </dd>
                                                    }
                                                }

                                                @{
                                                    if (Model.ACCOUNT.EndsWith("-3"))
                                                    {
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.MANAGER_NAME)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => model.MANAGER_NAME)
                                                        </dd>
                                                        <dt>
                                                            @Html.DisplayNameFor(model => model.MANAGER_EMAIL)
                                                        </dt>
                                                        <dd>
                                                            @Html.DisplayFor(model => model.MANAGER_EMAIL)
                                                        </dd>
                                                    }
                                                }
                                            </dl>
                                        </div>


                                    </form>
                                </div>
                                <div class="modal-footer">

                                    <div>
                                        @Html.ActionLink("Edit Client", "Edit", new { CPF = Model.CPF })
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </fieldset>
</div>




<script type="text/javascript">

    $(document).ready(function () {
        $("#DetailsModal").modal('show');
    });

    $("#btnDimiss").click(function () {
        window.location.href = "\.";
    });

</script>