@model List<OtanerBank.Models.Client>

@{
    ViewData["Title"] = "Dashboard";
}

<br />

<style>
    .Clients0 {
        background-color: lightcoral;
        box-shadow: 2px 6px 6px 2px rgba(0,0,0,0.2);
    }

    .Clients1 {
        background-color: lightgreen;
        box-shadow: 2px 6px 6px 2px rgba(0,0,0,0.2);
    }

    .MinimizeButton {
        font-weight: bold;
        font-size: large;
        cursor: pointer;
    }

    a {
        cursor: pointer;
        text-decoration: none !important;
    }
</style>

@if (Model != null)
{

    <div class="row">

        <div class="col-md-2"></div>

        <div id="DivClients0" class="col-md-3 Clients0">
            <div class="row">

                <div id="Clients0" class="col-md-10">
                    <h4>x Inactive Clients</h4>
                </div>

                <div style="float: right;" class="col-md-2">
                    <h5 id="Minimize0" onclick="MinimizeClient('0');" class="MinimizeButton">-</h5>
                </div>

                <div id="TotalClients0" class="col-md-12">
                    <h5>Total of @Model.Count Clients</h5>
                </div>

                <div id="LinkClients0" class="col-md-12">
                    <a style="float:right">show inactive clients</a>
                </div>

            </div>
        </div>

        <div class="col-md-2"></div>

        <div id="DivClients1" class="col-md-3 Clients1">
            <div class="row">

                <div id="Clients1" class="col-md-10">
                    <h4>x Active Clients</h4>
                </div>

                <div style="float: right;" class="col-md-2">
                    <h5 id="Minimize1" onclick="MinimizeClient('1');" class="MinimizeButton">-</h5>
                </div>

                <div id="TotalClients1" class="col-md-12">
                    <h5 onclick="MinimizeClient('1');">Total of @Model.Count Clients</h5>
                </div>

                <div id="LinkClients1" class="col-md-12">
                    <a style="float:right">show active clients</a>
                </div>

            </div>
        </div>

        <div class="col-md-2"></div>

    </div>

    <br />
    <br />
    <br />
    

    <table class="table">
        <thead>
            <tr>
                @{
                    Client client = new Client();

                    <th>
                        @Html.LabelFor(x => client.id)
                    </th>
                    <th>
                        @Html.LabelFor(x => client.ACCOUNT)
                    </th>
                    <th>
                        @Html.LabelFor(x => client.CPF)
                    </th>
                    <th>
                        @Html.LabelFor(x => client.NAME)
                    </th>
                    <th>
                        @Html.LabelFor(x => client.BALANCE)
                    </th>
                    <th>
                        @Html.Label("Options")
                    </th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ACCOUNT)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CPF)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NAME)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BALANCE)
                    </td>
                    <td>
                        | @Html.ActionLink("Edit", "Edit", new { CPF = item.CPF }) |
                        @Html.ActionLink("Details", "Details", new { CPF = item.CPF }) |
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{

}


<script type="text/javascript">
    function MinimizeClient() {

        //alert(document.getElementById('Clients' + arguments[0]).hidden);

        if (document.getElementById('Clients' + arguments[0]).hidden == false) {

            document.getElementById('Minimize' + arguments[0]).textContent = '+';

            document.getElementById('Clients' + arguments[0]).hidden = true;
            document.getElementById('TotalClients' + arguments[0]).hidden = true;
            document.getElementById('LinkClients' + arguments[0]).hidden = true;
            
        } else {

            document.getElementById('Minimize' + arguments[0]).textContent = '-';

            document.getElementById('Clients' + arguments[0]).hidden = false;
            document.getElementById('TotalClients' + arguments[0]).hidden = false;
            document.getElementById('LinkClients' + arguments[0]).hidden = false;

        }

    }
</script>






















