@model List<OtanerBank.Models.Client>

@{
    ViewData["Title"] = "Dashboard";
}

<br />

<style>
    .MinimizeButton {
        margin-top: 0;
        font-weight: bold;
        font-size: large;
        cursor: pointer;
    }

    a {
        cursor: pointer;
        text-decoration: none !important;
    }
</style>

@if (Model != null)
{

    <div class="container">

        <!--DASH-->
        <div class="row">

            <div class="col-md-2"></div>

            <div id="DivClients0" class="col-md-2 alert alert-info" role="alert">
                <div class="row">

                    <div id="Clients0" class="col-md-10">
                        <h4 id="txtQte">Total: @Model.Count</h4>
                    </div>

                    <div style="float: right;" class="col-md-2">
                        <h5 id="Minimize0" onclick="MinimizeClient('0');" class="MinimizeButton">&times;</h5>
                    </div>

                    <div id="LinkClients0" class="col-md-12">
                        <a class="alert-link">show all</a>
                    </div>

                </div>
            </div>

            <div class="col-md-1"></div>

            <div id="DivClients1" class="col-md-2 alert alert-danger" role="alert">
                <div class="row">

                    <div id="Clients1" class="col-md-10">
                        <h4 id="txtQteInactives"></h4>
                    </div>

                    <div style="float: right;" class="col-md-2">
                        <h5 id="Minimize1" onclick="MinimizeClient('1');" class="MinimizeButton">&times;</h5>
                    </div>

                    <div id="LinkClients1" class="col-md-12">
                        <a class="alert-link">show only inactive</a>
                    </div>

                </div>
            </div>

            <div class="col-md-1"></div>

            <div id="DivClients2" class="col-md-2 alert alert-success">
                <div class="row">


                    <div id="Clients2" class="col-md-10">
                        <h4 id="txtQteActives"></h4>
                    </div>

                    <div style="float: right;" class="col-md-2">
                        <h5 id="Minimize2" onclick="MinimizeClient('2');" class="MinimizeButton">&times;</h5>
                    </div>

                    <div id="LinkClients2" class="col-md-12">
                        <a class="alert-link">show only active</a>
                    </div>

                </div>
            </div>

            <div class="col-md-2"></div>

        </div>

        <br />

        <!--SEARCH BAR-->
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4" style="text-align: center;">
                <input type="search" name="search" id="search_Pergunta" oninput="search()" placeholder="Search Client" style="width:100%; padding:5px; border:solid; border-color: #eee;
        border-width: 1px;" class="form-control"> <br><br>
            </div>
            <div class="col-md-4"></div>
        </div>

        <br />

        <!--CLIENTS-->
        <div class="row">

            @foreach (var item in Model)
            {

                <div class="col-md-4" style="margin-bottom:3%;">
                    <div class="list-group-item list-group-item-action flex-column align-items-center">

                        <h5>
                            ID: @Html.DisplayFor(modelItem => item.id)
                        </h5>

                        <h5>
                            Account: @Html.DisplayFor(modelItem => item.ACCOUNT)
                        </h5>

                        <h5>
                            CPF: @Html.DisplayFor(modelItem => item.CPF)
                        </h5>

                        <h5>
                            Name: @Html.DisplayFor(modelItem => item.NAME)
                        </h5>

                        <h5>
                            Balance: @Html.DisplayFor(modelItem => item.BALANCE)
                        </h5>




                        <p style="float:right;">
                            |
                            @Html.ActionLink("Edit", "Edit", new { CPF = item.CPF }) |
                            @Html.ActionLink("Details", "Details", new { CPF = item.CPF }) |


                            @if (item.STATUS == "1")
                            {
                                @Html.ActionLink("Inactive", "Inactive", new { CPF = item.CPF })
                            }
                            else
                            {
                                @Html.ActionLink("Active", "Active", new { CPF = item.CPF })
                            }
                            |
                        </p>

                        @if (item.STATUS == "1")
                        {
                            <p style="color:green;">Actived</p>
                        }
                        else
                        {
                            <p style="color:red;">Inactived</p>
                        }

                    </div>
                </div>

            }


        </div>

    </div>

}
else
{

}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {


        $.ajax({
            type: "GET",
            url: 'https://localhost:44397/Admin/CountActives',
            dataType: "json",
            success: (function (msg) {
                document.getElementById('txtQteActives').textContent = 'Actives: ' + msg;
            }),
            error: (function (msg) {

            })
        });

        $.ajax({
            type: "GET",
            url: 'https://localhost:44397/Admin/CountInactives',
            dataType: "json",
            success: (function (msg) {
                document.getElementById('txtQteInactives').textContent = 'Inactives: ' + msg;
            }),
            error: (function (msg) {

            })
        });

    });

    function Search() {

        console.log('pesquisa');

    }

    function MinimizeClient() {

        //alert(document.getElementById('Clients' + arguments[0]).hidden);

        if (document.getElementById('LinkClients' + arguments[0]).hidden == false) {
            document.getElementById('Minimize' + arguments[0]).textContent = '+';
            //document.getElementById('Clients' + arguments[0]).hidden = true;
            document.getElementById('LinkClients' + arguments[0]).hidden = true;
        } else {
            document.getElementById('Minimize' + arguments[0]).innerHTML = '&times;';
            //document.getElementById('Clients' + arguments[0]).hidden = false;
            document.getElementById('LinkClients' + arguments[0]).hidden = false;
        }

    }

</script>
